.git
.github
.vscode
.idea

**/node_modules
**/.angular/cache
**/dist
**/build
**/.cache

backend_laravel/vendor
backend_laravel/storage/*.key
backend_laravel/storage/logs/*.log
backend_laravel/.env
backend_laravel/.env.*
backend_laravel/.phpunit.cache
backend_laravel/.phpunit.result.cache
backend_laravel/public/storage
backend_laravel/public/hot
backend_laravel/public/build

frontend_angular/node_modules
frontend_angular/.angular/cache
frontend_angular/dist

socket_server/node_modules
socket_server/.env

.env
.env.*
npm-debug.log
yarn-error.log
